<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue.js 演習問題</title>
    <link rel="stylesheet" href="style.css" >
    <script src=
      "https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
    </script>
  </head>
  
  <body>
    <h2>trueのときだけ表示する例</h2>
    <div id="app">
        <!-- v-modelで入力フォームとデータをつなぐ -->
        <input type="checkbox" v-model="myVisible">Google本社
        <!-- v-if="条件" / Google本社にチェックが入ったら(条件を満たす時だけ)表示 -->
        <!-- v-bindでimg要素をデータで指定 -->
        <p v-if="myVisible"><img v-bind:src="googleImg"></p>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          myVisible: false,           /* 最初は非表示 */
          googleImg: 'Google.jpg'     /*  v-bindでimg要素をデータで指定*/
        }
      })
    </script>
  </body>
</html>
